/* 
Author: Jascha Ehrenreich
Author URI: http://jaeh.at/
Version: 1.0
*/



/* colors */
coldarkblue = #101b70
collightred = #ff0505
colgrey = #666
collightblue = #40BBEE
collightgreen = #179f0d
collightpurple = #f4dfeb
colorange = #ff4b00
purple = #8f2182
colred = #910000
colturquoise = #08a9c2
colyellow = #f2f200
colwhite = #fff
colblack = #111


/* logo styles */


body #logo .point
  background-color colgrey
  height 4px
  width 4px
  position absolute
  border-radius 4px
  
body.bg-grey #logo .point
  background-color colwhite

body.txt-darkblue #logo .point
  background-color coldarkblue
body.txt-lightred #logo .point
  background-color collightred
body.txt-lightblue #logo .point
  background-color collightblue
body.txt-lightgreen #logo .point
  background-color collightgreen
body.txt-lightpurple #logo .point
  background-color collightpurple
body.txt-orange #logo .point
  background-color colorange
body.txt-purple #logo .point
  background-color purple
body.txt-red #logo .point
  background-color colred
body.txt-turquoise #logo .point
  background-color colturquoise
body.txt-yellow #logo .point
  background-color colyellow


#lo {
position: absolute;
font-size: 39px;
top: 3px;
left: 3px;
}

.letter
  position absolute
  height 47px
  
.j
  left 0
.a
  left 20px
.e
  left 45px
.h
  left 65px

body.font-pixelade .j
  left 0
  
body.font-pixelade .a
  left 12px

body.font-pixelade .e
  left 30px

body.font-pixelade .h
  left 50px


body.font-verdana .j
  left 0
  
body.font-verdana .a
  left 15px

body.font-verdana .e
  left 38px

body.font-verdana .h
  left 62px



body.font-times .j
  left 0
  
body.font-times .a
  left 16px

body.font-times .e
  left 32px

body.font-times .h
  left 51px
